################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HSPA-WebApi/.vs/HSPA-WebApi/v16
/HSPA-WebApi/obj
/HSPA-WebApi/.vs/HSPA-WebApi/config
/HSPA-WebApi/bin/Debug/netcoreapp3.1
/HSPA-WebApi/.vs/HSPA-WebApi/DesignTimeBuild
